ShoppingMallUPOS/xml-resources/web-service-references/CommonFunctionsUPOS/wsdl/localhost_8080/CommonFunctionsUPOS/CommonFunctionsUPOS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://common.soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://common.soap/" name="CommonFunctionsUPOS">
<types>
<xsd:schema>
<xsd:import namespace="http://common.soap/" schemaLocation="http://localhost:8080/CommonFunctionsUPOS/CommonFunctionsUPOS?xsd=1"/>
</xsd:schema>
</types>
<message name="getShopById">
<part name="parameters" element="tns:getShopById"/>
</message>
<message name="getShopByIdResponse">
<part name="parameters" element="tns:getShopByIdResponse"/>
</message>
<message name="getShoppingMallItemsByShopId">
<part name="parameters" element="tns:getShoppingMallItemsByShopId"/>
</message>
<message name="getShoppingMallItemsByShopIdResponse">
<part name="parameters" element="tns:getShoppingMallItemsByShopIdResponse"/>
</message>
<message name="getShopItemByItemId">
<part name="parameters" element="tns:getShopItemByItemId"/>
</message>
<message name="getShopItemByItemIdResponse">
<part name="parameters" element="tns:getShopItemByItemIdResponse"/>
</message>
<message name="deleteShopItemByItemId">
<part name="parameters" element="tns:deleteShopItemByItemId"/>
</message>
<message name="deleteShopItemByItemIdResponse">
<part name="parameters" element="tns:deleteShopItemByItemIdResponse"/>
</message>
<message name="getShopItemByBarcode">
<part name="parameters" element="tns:getShopItemByBarcode"/>
</message>
<message name="getShopItemByBarcodeResponse">
<part name="parameters" element="tns:getShopItemByBarcodeResponse"/>
</message>
<message name="createDetailOrder">
<part name="parameters" element="tns:createDetailOrder"/>
</message>
<message name="createDetailOrderResponse">
<part name="parameters" element="tns:createDetailOrderResponse"/>
</message>
<message name="createShopOrder">
<part name="parameters" element="tns:createShopOrder"/>
</message>
<message name="createShopOrderResponse">
<part name="parameters" element="tns:createShopOrderResponse"/>
</message>
<message name="getTablesByRestaurantId">
<part name="parameters" element="tns:getTablesByRestaurantId"/>
</message>
<message name="getTablesByRestaurantIdResponse">
<part name="parameters" element="tns:getTablesByRestaurantIdResponse"/>
</message>
<message name="addShoppingMallItem">
<part name="parameters" element="tns:addShoppingMallItem"/>
</message>
<message name="addShoppingMallItemResponse">
<part name="parameters" element="tns:addShoppingMallItemResponse"/>
</message>
<message name="addRestaurantTable">
<part name="parameters" element="tns:addRestaurantTable"/>
</message>
<message name="addRestaurantTableResponse">
<part name="parameters" element="tns:addRestaurantTableResponse"/>
</message>
<message name="getMemberAccountByNFCCardNum">
<part name="parameters" element="tns:getMemberAccountByNFCCardNum"/>
</message>
<message name="getMemberAccountByNFCCardNumResponse">
<part name="parameters" element="tns:getMemberAccountByNFCCardNumResponse"/>
</message>
<portType name="CommonFunctionsUPOS">
<operation name="getShopById">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopByIdRequest" message="tns:getShopById"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopByIdResponse" message="tns:getShopByIdResponse"/>
</operation>
<operation name="getShoppingMallItemsByShopId">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getShoppingMallItemsByShopIdRequest" message="tns:getShoppingMallItemsByShopId"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getShoppingMallItemsByShopIdResponse" message="tns:getShoppingMallItemsByShopIdResponse"/>
</operation>
<operation name="getShopItemByItemId">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopItemByItemIdRequest" message="tns:getShopItemByItemId"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopItemByItemIdResponse" message="tns:getShopItemByItemIdResponse"/>
</operation>
<operation name="deleteShopItemByItemId">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/deleteShopItemByItemIdRequest" message="tns:deleteShopItemByItemId"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/deleteShopItemByItemIdResponse" message="tns:deleteShopItemByItemIdResponse"/>
</operation>
<operation name="getShopItemByBarcode">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopItemByBarcodeRequest" message="tns:getShopItemByBarcode"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getShopItemByBarcodeResponse" message="tns:getShopItemByBarcodeResponse"/>
</operation>
<operation name="createDetailOrder">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/createDetailOrderRequest" message="tns:createDetailOrder"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/createDetailOrderResponse" message="tns:createDetailOrderResponse"/>
</operation>
<operation name="createShopOrder">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/createShopOrderRequest" message="tns:createShopOrder"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/createShopOrderResponse" message="tns:createShopOrderResponse"/>
</operation>
<operation name="getTablesByRestaurantId">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getTablesByRestaurantIdRequest" message="tns:getTablesByRestaurantId"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getTablesByRestaurantIdResponse" message="tns:getTablesByRestaurantIdResponse"/>
</operation>
<operation name="addShoppingMallItem">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/addShoppingMallItemRequest" message="tns:addShoppingMallItem"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/addShoppingMallItemResponse" message="tns:addShoppingMallItemResponse"/>
</operation>
<operation name="addRestaurantTable">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/addRestaurantTableRequest" message="tns:addRestaurantTable"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/addRestaurantTableResponse" message="tns:addRestaurantTableResponse"/>
</operation>
<operation name="getMemberAccountByNFCCardNum">
<input wsam:Action="http://common.soap/CommonFunctionsUPOS/getMemberAccountByNFCCardNumRequest" message="tns:getMemberAccountByNFCCardNum"/>
<output wsam:Action="http://common.soap/CommonFunctionsUPOS/getMemberAccountByNFCCardNumResponse" message="tns:getMemberAccountByNFCCardNumResponse"/>
</operation>
</portType>
<binding name="CommonFunctionsUPOSPortBinding" type="tns:CommonFunctionsUPOS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getShopById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShoppingMallItemsByShopId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShopItemByItemId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteShopItemByItemId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShopItemByBarcode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDetailOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createShopOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTablesByRestaurantId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addShoppingMallItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRestaurantTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberAccountByNFCCardNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CommonFunctionsUPOS">
<port name="CommonFunctionsUPOSPort" binding="tns:CommonFunctionsUPOSPortBinding">
<soap:address location="http://localhost:8080/CommonFunctionsUPOS/CommonFunctionsUPOS"/>
</port>
</service>
</definitions>